In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
jobs = pd.read_csv('occupations.csv')
jobs.head()
jobs[jobs['H_MEAN'].notnull() & jobs['A_MEAN'].notnull()]

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",00-0000,All Occupations,total,"5,783,690",0.4,1000.000,1.00,...,19.08,32.89,52.04,"21,190","25,180","39,680","68,420","108,250",NaN,NaN
1,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-0000,Management Occupations,major,"330,970",1.1,57.225,1.13,...,53.29,77.60,#,"48,320","72,550","110,850","161,410",#,NaN,NaN
2,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-1011,Chief Executives,detailed,"11,400",4.9,1.971,1.24,...,#,#,#,"96,150","151,770",#,#,#,NaN,NaN
3,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-1021,General and Operations Managers,detailed,"99,260",1.5,17.163,1.10,...,55.15,86.76,#,"49,290","73,820","114,720","180,470",#,NaN,NaN
4,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-1031,Legislators,detailed,690,6.9,0.119,0.31,...,*,*,*,"42,920","52,880","63,270","90,380","111,850",True,NaN
5,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-2011,Advertising and Promotions Managers,detailed,"1,720",14.1,0.297,1.44,...,48.55,70.42,#,"41,880","64,930","100,980","146,470",#,NaN,NaN
6,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-2021,Marketing Managers,detailed,"10,550",3.6,1.824,1.24,...,65.39,88.29,#,"69,420","93,530","136,000","183,650",#,NaN,NaN
7,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-2022,Sales Managers,detailed,"27,110",2.9,4.688,1.80,...,53.46,79.76,#,"45,180","68,400","111,200","165,900",#,NaN,NaN
8,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-2031,Public Relations and Fundraising Managers,detailed,"2,410",8.2,0.416,0.91,...,58.55,75.66,98.11,"67,700","91,650","121,790","157,370","204,060",NaN,NaN
9,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3011,Administrative Services Managers,detailed,"15,860",3.1,2.742,1.45,...,47.59,62.25,79.63,"56,650","72,840","98,980","129,480","165,640",NaN,NaN
10,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3021,Computer and Information Systems Managers,detailed,"13,830",3.5,2.390,0.95,...,69.40,86.14,#,"86,610","112,760","144,350","179,170",#,NaN,NaN
11,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3031,Financial Managers,detailed,"26,540",4.1,4.590,1.19,...,65.56,90.51,#,"74,580","97,500","136,370","188,250",#,NaN,NaN
12,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3051,Industrial Production Managers,detailed,"7,540",3.4,1.303,1.09,...,46.72,63.46,85.03,"54,790","70,460","97,170","131,990","176,860",NaN,NaN
13,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3061,Purchasing Managers,detailed,"3,420",5.2,0.591,1.16,...,53.10,72.71,92.28,"48,720","76,100","110,450","151,250","191,940",NaN,NaN
14,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3071,"Transportation, Storage, and Distribution Mana...",detailed,"6,520",5.3,1.127,1.40,...,43.10,56.86,75.71,"53,040","67,600","89,650","118,260","157,480",NaN,NaN
15,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3111,Compensation and Benefits Managers,detailed,520,7.3,0.090,0.83,...,68.40,85.64,#,"76,970","101,920","142,280","178,130",#,NaN,NaN
16,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3121,Human Resources Managers,detailed,"5,690",4.3,0.984,1.06,...,58.14,76.15,#,"65,700","87,480","120,930","158,390",#,NaN,NaN
17,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-3131,Training and Development Managers,detailed,"1,180",6.6,0.204,0.87,...,54.70,66.58,85.43,"58,710","82,020","113,770","138,480","177,690",NaN,NaN
18,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9013,"Farmers, Ranchers, and Other Agricultural Mana...",detailed,40,43.6,0.008,0.24,...,35.58,39.40,58.78,"55,320","66,170","74,010","81,960","122,260",NaN,NaN
19,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9021,Construction Managers,detailed,"11,140",5.7,1.926,1.08,...,43.96,61.14,78.47,"52,380","69,080","91,440","127,180","163,230",NaN,NaN
20,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9031,"Education Administrators, Preschool and Childc...",detailed,"2,080",6.7,0.359,1.04,...,23.14,29.91,41.43,"36,280","41,470","48,130","62,210","86,180",NaN,NaN
21,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9032,"Education Administrators, Elementary and Secon...",detailed,"5,820",4.8,1.007,0.58,...,*,*,*,"78,700","102,290","117,750","132,420","153,520",True,NaN
22,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9033,"Education Administrators, Postsecondary",detailed,"5,490",8.9,0.949,0.96,...,54.80,72.29,96.11,"66,860","85,880","113,980","150,350","199,910",NaN,NaN
23,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9039,"Education Administrators, All Other",detailed,"1,400",11.1,0.241,0.99,...,37.15,51.36,71.00,"46,380","56,360","77,270","106,840","147,680",NaN,NaN
24,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9041,Architectural and Engineering Managers,detailed,"8,910",4.7,1.541,1.21,...,71.67,89.58,#,"89,700","117,440","149,070","186,330",#,NaN,NaN
25,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9051,Food Service Managers,detailed,"12,860",5.3,2.223,1.55,...,22.10,30.37,39.15,"24,790","33,790","45,970","63,170","81,440",NaN,NaN
26,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9081,Lodging Managers,detailed,"1,230",6.1,0.213,0.84,...,27.10,34.44,41.67,"30,510","37,510","56,360","71,630","86,680",NaN,NaN
27,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9111,Medical and Health Services Managers,detailed,"12,280",6.2,2.123,0.90,...,51.10,65.09,80.49,"51,270","72,540","106,300","135,390","167,420",NaN,NaN
28,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9121,Natural Sciences Managers,detailed,**,**,**,**,...,54.73,76.66,98.12,"46,560","62,470","113,830","159,460","204,100",NaN,NaN
29,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-9131,Postmasters and Mail Superintendents,detailed,110,0.0,0.019,0.18,...,40.61,45.22,51.90,"69,740","76,290","84,460","94,060","107,950",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8179,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3021,"Bus Drivers, Transit and Intercity",detailed,"4,150",7.9,2.216,1.83,...,30.33,34.21,36.78,"41,180","48,480","63,080","71,150","76,510",NaN,NaN
8180,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3022,"Bus Drivers, School or Special Client",detailed,"5,700",8.7,3.041,0.83,...,20.11,22.49,23.92,"26,960","33,180","41,830","46,780","49,750",NaN,NaN
8181,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3031,Driver/Sales Workers,detailed,"4,610",15.7,2.460,0.81,...,11.53,17.69,29.51,"20,730","21,940","23,970","36,790","61,390",NaN,NaN
8182,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3032,Heavy and Tractor-Trailer Truck Drivers,detailed,"15,900",4.3,8.484,0.70,...,22.48,27.97,33.21,"32,390","37,340","46,750","58,170","69,090",NaN,NaN
8183,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3033,Light Truck or Delivery Services Drivers,detailed,"11,130",6.5,5.941,0.97,...,17.49,23.56,31.35,"24,610","29,100","36,370","49,000","65,210",NaN,NaN
8184,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3041,Taxi Drivers and Chauffeurs,detailed,"2,820",17.6,1.505,1.12,...,12.36,15.42,18.25,"21,160","22,810","25,710","32,080","37,970",NaN,NaN
8185,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-3099,"Motor Vehicle Operators, All Other",detailed,860,36.5,0.460,1.20,...,14.87,21.30,27.33,"20,520","22,860","30,930","44,310","56,840",NaN,NaN
8186,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-4011,Locomotive Engineers,detailed,**,**,**,**,...,42.52,47.07,49.80,"40,160","56,350","88,430","97,900","103,580",NaN,NaN
8187,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-4031,Railroad Conductors and Yardmasters,detailed,**,**,**,**,...,28.66,35.00,38.55,"37,240","45,040","59,600","72,800","80,170",NaN,NaN
8188,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-5011,Sailors and Marine Oilers,detailed,"3,040",11.2,1.624,7.01,...,24.26,26.37,27.06,"38,010","44,220","50,470","54,860","56,290",NaN,NaN
8189,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-5021,"Captains, Mates, and Pilots of Water Vessels",detailed,"2,010",27.1,1.071,4.10,...,39.81,49.34,52.99,"54,860","72,420","82,800","102,630","110,210",NaN,NaN
8190,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-5022,Motorboat Operators,detailed,**,**,**,**,...,22.81,25.55,31.73,"41,130","43,500","47,440","53,150","66,000",NaN,NaN
8191,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-5031,Ship Engineers,detailed,780,6.5,0.415,5.98,...,39.78,44.92,49.29,"50,480","65,100","82,740","93,430","102,520",NaN,NaN
8192,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-6011,Bridge and Lock Tenders,detailed,80,2.7,0.041,1.66,...,26.64,29.52,30.73,"39,310","44,640","55,420","61,400","63,920",NaN,NaN
8193,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-6021,Parking Lot Attendants,detailed,"2,500",10.8,1.332,1.28,...,11.60,13.43,17.85,"21,080","22,230","24,130","27,940","37,130",NaN,NaN
8194,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-6031,Automotive and Watercraft Service Attendants,detailed,990,26.1,0.529,0.68,...,12.77,14.64,18.43,"21,200","23,110","26,560","30,460","38,340",NaN,NaN
8195,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-6041,Traffic Technicians,detailed,**,**,**,**,...,31.77,35.95,38.43,"50,920","56,600","66,080","74,770","79,940",NaN,NaN
8196,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-6051,Transportation Inspectors,detailed,490,35.5,0.262,1.34,...,*,*,*,*,*,*,*,*,NaN,NaN
8197,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-6099,"Transportation Workers, All Other",detailed,370,25.8,0.199,0.74,...,26.39,30.12,37.62,"26,540","40,260","54,900","62,650","78,260",NaN,NaN
8198,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7011,Conveyor Operators and Tenders,detailed,280,27.1,0.149,0.73,...,14.56,18.01,22.44,"24,070","27,000","30,280","37,460","46,670",NaN,NaN
8199,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7021,Crane and Tower Operators,detailed,870,7.9,0.466,1.45,...,33.42,42.11,47.81,"41,200","49,670","69,510","87,580","99,450",NaN,NaN
8200,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7032,Excavating and Loading Machine and Dragline Op...,detailed,340,26.1,0.180,0.52,...,31.10,34.91,37.65,"45,360","55,120","64,690","72,600","78,310",NaN,NaN
8201,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7051,Industrial Truck and Tractor Operators,detailed,"6,150",6.4,3.280,0.85,...,19.19,23.82,34.82,"26,700","31,850","39,920","49,550","72,430",NaN,NaN
8202,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7061,Cleaners of Vehicles and Equipment,detailed,"4,130",8.8,2.205,0.89,...,13.15,15.23,18.80,"21,600","23,700","27,350","31,680","39,100",NaN,NaN
8203,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7062,"Laborers and Freight, Stock, and Material Move...",detailed,"34,590",3.8,18.453,1.00,...,14.47,18.59,24.20,"21,900","25,020","30,100","38,660","50,350",NaN,NaN
8204,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7063,Machine Feeders and Offbearers,detailed,510,22.4,0.275,0.44,...,14.82,17.67,21.20,"23,410","26,520","30,830","36,750","44,100",NaN,NaN
8205,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7064,"Packers and Packagers, Hand",detailed,"9,890",11.2,5.277,1.05,...,11.89,14.32,20.43,"21,120","22,480","24,720","29,790","42,490",NaN,NaN
8206,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7081,Refuse and Recyclable Material Collectors,detailed,"1,150",21.3,0.611,0.75,...,21.12,27.32,31.07,"27,720","34,160","43,940","56,830","64,620",NaN,NaN
8207,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7121,"Tank Car, Truck, and Ship Loaders",detailed,190,27.6,0.101,1.29,...,18.71,27.05,37.40,"23,400","29,520","38,920","56,260","77,800",NaN,NaN
8208,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-7199,"Material Moving Workers, All Other",detailed,340,26.5,0.184,1.08,...,24.51,30.81,39.51,"21,550","31,030","50,980","64,080","82,170",NaN,NaN

In [52]:
major =jobs.groupby('OCC_TITLE')
major.apply(lambda x: x[x['OCC_GROUP'] == 'major']['H_MEAN'].sum())

OCC_TITLE
Accountants and Auditors                                                                                                     0
Actors                                                                                                                       0
Actuaries                                                                                                                    0
Adhesive Bonding Machine Operators and Tenders                                                                               0
Administrative Law Judges, Adjudicators, and Hearing Officers                                                                0
Administrative Services Managers                                                                                             0
Adult Basic and Secondary Education and Literacy Teachers and Instructors                                                    0
Advertising Sales Agents                                                                                                     0
Advertising and Promotions Managers                                                                                          0
Aerospace Engineering and Operations Technicians                                                                             0
Aerospace Engineers                                                                                                          0
Agents and Business Managers of Artists, Performers, and Athletes                                                            0
Agricultural Engineers                                                                                                       0
Agricultural Equipment Operators                                                                                             0
Agricultural Inspectors                                                                                                      0
Agricultural Sciences Teachers, Postsecondary                                                                                0
Agricultural Workers, All Other                                                                                              0
Agricultural and Food Science Technicians                                                                                    0
Air Traffic Controllers                                                                                                      0
Aircraft Cargo Handling Supervisors                                                                                          0
Aircraft Mechanics and Service Technicians                                                                                   0
Aircraft Structure, Surfaces, Rigging, and Systems Assemblers                                                                0
Airfield Operations Specialists                                                                                              0
Airline Pilots, Copilots, and Flight Engineers                                                                               0
All Occupations                                                                                                              0
Ambulance Drivers and Attendants, Except Emergency Medical Technicians                                                       0
Amusement and Recreation Attendants                                                                                          0
Anesthesiologists                                                                                                            0
Animal Control Workers                                                                                                       0
Animal Scientists                                                                                                            0
                                                                                                   ...
Transportation Inspectors                                                                                                    0
Transportation Security Screeners                                                                                            0
Transportation Workers, All Other                                                                                            0
Transportation and Material Moving Occupations                               17.0922.2219.5817.6317.9118.6517.8919.2017.401...
Transportation, Storage, and Distribution Managers                                                                           0
Travel Agents                                                                                                                0
Travel Guides                                                                                                                0
Tree Trimmers and Pruners                                                                                                    0
Umpires, Referees, and Other Sports Officials                                                                                0
Upholsterers                                                                                                                 0
Urban and Regional Planners                                                                                                  0
Ushers, Lobby Attendants, and Ticket Takers                                                                                  0
Veterinarians                                                                                                                0
Veterinary Assistants and Laboratory Animal Caretakers                                                                       0
Veterinary Technologists and Technicians                                                                                     0
Vocational Education Teachers, Postsecondary                                                                                 0
Waiters and Waitresses                                                                                                       0
Watch Repairers                                                                                                              0
Water and Wastewater Treatment Plant and System Operators                                                                    0
Web Developers                                                                                                               0
Weighers, Measurers, Checkers, and Samplers, Recordkeeping                                                                   0
Welders, Cutters, Solderers, and Brazers                                                                                     0
Welding, Soldering, and Brazing Machine Setters, Operators, and Tenders                                                      0
Wellhead Pumpers                                                                                                             0
Wholesale and Retail Buyers, Except Farm Products                                                                            0
Woodworkers, All Other                                                                                                       0
Woodworking Machine Setters, Operators, and Tenders, Except Sawing                                                           0
Word Processors and Typists                                                                                                  0
Writers and Authors                                                                                                          0
Zoologists and Wildlife Biologists                                                                                           0
Length: 827, dtype: object

In [8]:
# Bar chart showing occupations in 'major' group
bars = [] # occupation in 'major' group
heights = [] # mean income/hour
for job in jobs:
    if str('major') in job['OCC_GROUP'] and str('CA')in job['AREA_NAME']:
        bars.append(job['OCC_TITLE'])
        heights.append(job['H_MEAN'])
    
plt.bar(left = job['OCC_TITLE'], height = job['H_MEAN'])
plt.xlabel('occupation in Los Angeles-Long Beach-Anaheim, CA')
plt.ylabel('avarage income/ hour')
plt.show()

TypeError: string indices must be integers

In [ ]:
# Bar chart showing occupations in 'major' group

df = pd.read_csv('occupations.csv')
    
bars = [] # occupation in 'major' group
heights = [] # mean income/hour'''

for job in jobs:
    if 'major' in job['OCC_GROUP'] and 'CA' in job['PRIM_STATE']:
        bars.append(job['OCC_TITLE'])
        heights.append(job['H_MEAN'])
        
with open('occupations.csv') as f: 
    rows = csv.reader(f)
    for r in rows:
        jobs.append(r)
for job in jobs:
    if job['OCC_TITLE'] == job['OCC_TITLE']
    df.reset_index().groupby('H_MEAN').mean()
        
numbars = len(bars)# the number of the bars
# range(numbars) in following command yields [0,1,...,numbars-1]
plt.xticks(range(numbars), bars, rotation='vertical')
plt.bar(range(numbars), heights, align='center')
plt.xlabel('occupations in CA')
plt.ylabel('avarage income/ hour')
plt.show()

In [ ]:
df = pd.read_csv('occupations.csv')
df.head()

In [39]:
df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
               'key2' : ['one', 'two', 'one', 'two', 'one'],
               'data1' : np.random.randn(5),
               'data2' : np. random.randn(5)})
df

      data1     data2 key1 key2
0 -0.829218 -0.618363    a  one
1  1.547318  0.164198    a  two
2 -0.062455  1.770214    b  one
3 -0.722655 -0.811282    b  two
4  0.197784 -0.141528    a  one

In [45]:
g = df.groupby('key1')
g.apply(lambda x: x[x['key2'] == 'one']['data1'].sum())

key1
a   -0.631434
b   -0.062455
dtype: float64