In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [83]:
jobs = pd.read_csv('occupations.csv')
jobs.head()
job=jobs[jobs['H_MEAN'].notnull() & jobs['A_MEAN'].notnull()]
major = job[job['OCC_GROUP'].str.contains('major')]
major

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC QUOTIENT,...,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
1,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",11-0000,Management Occupations,major,"330,970",1.1,57.225,1.13,...,53.29,77.60,#,"48,320","72,550","110,850","161,410",#,NaN,NaN
34,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",13-0000,Business and Financial Operations Occupations,major,"352,020",1.3,60.864,1.17,...,34.59,46.82,61.48,"38,840","52,850","71,950","97,380","127,870",NaN,NaN
66,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",15-0000,Computer and Mathematical Occupations,major,"161,410",2.6,27.908,0.94,...,42.65,57.34,71.71,"43,460","61,660","88,710","119,270","149,160",NaN,NaN
85,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",17-0000,Architecture and Engineering Occupations,major,"100,720",2.5,17.414,0.98,...,43.20,58.19,74.02,"49,820","66,190","89,850","121,040","153,960",NaN,NaN
120,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",19-0000,"Life, Physical, and Social Science Occupations",major,"47,570",6.1,8.225,1.00,...,33.62,47.08,59.46,"34,950","47,500","69,930","97,930","123,680",NaN,NaN
158,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",21-0000,Community and Social Service Occupations,major,"85,010",3.1,14.698,1.02,...,24.48,35.36,45.92,"27,640","36,280","50,920","73,550","95,510",NaN,NaN
177,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",23-0000,Legal Occupations,major,"51,820",2.6,8.959,1.17,...,49.61,81.51,#,"38,910","59,390","103,200","169,540",#,NaN,NaN
186,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",25-0000,"Education, Training, and Library Occupations",major,"332,170",1.7,57.432,0.93,...,26.39,39.94,50.58,"26,610","36,140","54,890","83,070","105,200",NaN,NaN
246,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",27-0000,"Arts, Design, Entertainment, Sports, and Media...",major,"185,700",2.7,32.107,2.37,...,30.23,47.48,76.95,"27,120","38,860","62,880","98,760","160,050",NaN,NaN
288,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",29-0000,Healthcare Practitioners and Technical Occupat...,major,"287,320",2.2,49.677,0.84,...,37.69,53.39,72.30,"35,390","51,520","78,390","111,060","150,390",NaN,NaN
349,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",31-0000,Healthcare Support Occupations,major,"130,730",2.6,22.604,0.78,...,15.25,20.09,25.98,"22,300","25,900","31,720","41,790","54,030",NaN,NaN
367,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",33-0000,Protective Service Occupations,major,"137,760",2.5,23.818,0.99,...,19.10,39.66,54.05,"21,470","24,730","39,720","82,500","112,430",NaN,NaN
387,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",35-0000,Food Preparation and Serving Related Occupations,major,"548,250",0.8,94.792,1.03,...,11.21,13.62,18.22,"20,810","20,820","23,320","28,330","37,900",NaN,NaN
405,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",37-0000,Building and Grounds Cleaning and Maintenance ...,major,"155,910",2.2,26.956,0.86,...,12.77,17.19,22.85,"20,820","22,510","26,560","35,740","47,540",NaN,NaN
416,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",39-0000,Personal Care and Service Occupations,major,"178,540",2.8,30.870,0.96,...,11.68,15.10,22.14,"20,810","21,480","24,300","31,410","46,050",NaN,NaN
448,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",41-0000,Sales and Related Occupations,major,"595,200",1.2,102.909,0.99,...,13.96,23.81,39.54,"20,810","22,270","29,040","49,530","82,240",NaN,NaN
470,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",43-0000,Office and Administrative Support Occupations,major,"982,470",0.8,169.869,1.08,...,17.75,24.07,30.43,"22,090","27,180","36,920","50,070","63,290",NaN,NaN
527,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",45-0000,"Farming, Fishing, and Forestry Occupations",major,"5,440",13.6,0.941,0.28,...,11.42,15.84,23.00,"20,810","20,990","23,760","32,940","47,850",NaN,NaN
536,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",47-0000,Construction and Extraction Occupations,major,"179,070",1.7,30.961,0.78,...,24.55,34.30,44.63,"27,470","35,600","51,060","71,350","92,830",NaN,NaN
587,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",49-0000,"Installation, Maintenance, and Repair Occupations",major,"172,220",1.9,29.776,0.77,...,22.80,30.93,39.34,"25,740","33,980","47,430","64,330","81,820",NaN,NaN
633,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",51-0000,Production Occupations,major,"369,990",1.4,63.970,0.99,...,13.84,19.46,28.47,"20,820","22,800","28,780","40,490","59,210",NaN,NaN
738,CA,31080,"Los Angeles-Long Beach-Anaheim, CA",53-0000,Transportation and Material Moving Occupations,major,"393,430",1.9,68.024,0.98,...,13.55,20.02,28.52,"20,810","22,450","28,180","41,640","59,310",NaN,NaN
779,CA,41860,"San Francisco-Oakland-Hayward, CA",11-0000,Management Occupations,major,"162,760",1.3,71.917,1.42,...,64.42,91.66,#,"58,940","88,430","134,000","190,650",#,NaN,NaN
814,CA,41860,"San Francisco-Oakland-Hayward, CA",13-0000,Business and Financial Operations Occupations,major,"177,570",1.4,78.465,1.51,...,40.62,55.38,75.67,"48,850","62,970","84,480","115,190","157,390",NaN,NaN
845,CA,41860,"San Francisco-Oakland-Hayward, CA",15-0000,Computer and Mathematical Occupations,major,"135,380",2.2,59.822,2.02,...,53.52,67.93,79.43,"59,200","82,140","111,330","141,290","165,200",NaN,NaN
863,CA,41860,"San Francisco-Oakland-Hayward, CA",17-0000,Architecture and Engineering Occupations,major,"52,030",3.5,22.992,1.29,...,46.19,60.44,75.59,"53,780","70,010","96,080","125,700","157,230",NaN,NaN
896,CA,41860,"San Francisco-Oakland-Hayward, CA",19-0000,"Life, Physical, and Social Science Occupations",major,"41,040",2.6,18.134,2.21,...,41.09,57.03,73.62,"43,300","58,730","85,470","118,630","153,140",NaN,NaN
933,CA,41860,"San Francisco-Oakland-Hayward, CA",21-0000,Community and Social Service Occupations,major,"32,290",3.2,14.266,0.99,...,24.92,35.37,45.65,"28,850","37,700","51,830","73,570","94,950",NaN,NaN
952,CA,41860,"San Francisco-Oakland-Hayward, CA",23-0000,Legal Occupations,major,"24,380",2.9,10.774,1.41,...,59.27,92.15,#,"52,300","73,600","123,280","191,670",#,NaN,NaN
962,CA,41860,"San Francisco-Oakland-Hayward, CA",25-0000,"Education, Training, and Library Occupations",major,"125,180",1.5,55.312,0.90,...,26.30,38.08,49.74,"29,180","37,690","54,710","79,210","103,460",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7132,TX,19100,"Dallas-Fort Worth-Arlington, TX",39-0000,Personal Care and Service Occupations,major,"92,340",3.7,27.075,0.84,...,9.43,12.16,19.66,"16,370","17,570","19,610","25,300","40,890",NaN,NaN
7161,TX,19100,"Dallas-Fort Worth-Arlington, TX",41-0000,Sales and Related Occupations,major,"374,290",1.3,109.744,1.06,...,14.36,26.46,45.96,"17,450","20,190","29,870","55,040","95,610",NaN,NaN
7183,TX,19100,"Dallas-Fort Worth-Arlington, TX",43-0000,Office and Administrative Support Occupations,major,"625,950",1.3,183.530,1.17,...,16.86,22.44,29.00,"20,810","26,670","35,060","46,680","60,320",NaN,NaN
7239,TX,19100,"Dallas-Fort Worth-Arlington, TX",45-0000,"Farming, Fishing, and Forestry Occupations",major,"2,850",17.5,0.837,0.25,...,9.86,11.78,16.14,"16,440","17,870","20,510","24,510","33,570",NaN,NaN
7244,TX,19100,"Dallas-Fort Worth-Arlington, TX",47-0000,Construction and Extraction Occupations,major,"138,440",2.1,40.590,1.02,...,17.65,23.36,30.68,"24,290","29,240","36,700","48,580","63,820",NaN,NaN
7294,TX,19100,"Dallas-Fort Worth-Arlington, TX",49-0000,"Installation, Maintenance, and Repair Occupations",major,"141,690",2.6,41.543,1.07,...,19.97,27.17,34.90,"24,840","31,870","41,540","56,510","72,590",NaN,NaN
7339,TX,19100,"Dallas-Fort Worth-Arlington, TX",51-0000,Production Occupations,major,"192,870",2.3,56.550,0.87,...,14.80,20.44,28.52,"19,000","23,260","30,790","42,520","59,330",NaN,NaN
7440,TX,19100,"Dallas-Fort Worth-Arlington, TX",53-0000,Transportation and Material Moving Occupations,major,"268,370",3.0,78.687,1.14,...,14.74,21.32,30.82,"18,480","22,640","30,650","44,330","64,110",NaN,NaN
7476,WA,42660,"Seattle-Tacoma-Bellevue, WA",11-0000,Management Occupations,major,"103,510",3.1,55.230,1.09,...,56.99,77.04,#,"62,260","85,660","118,540","160,240",#,NaN,NaN
7509,WA,42660,"Seattle-Tacoma-Bellevue, WA",13-0000,Business and Financial Operations Occupations,major,"140,130",1.5,74.765,1.44,...,35.58,47.61,61.61,"42,450","55,270","74,010","99,040","128,160",NaN,NaN
7538,WA,42660,"Seattle-Tacoma-Bellevue, WA",15-0000,Computer and Mathematical Occupations,major,"125,650",4.9,67.038,2.26,...,52.20,65.92,78.47,"56,310","79,020","108,580","137,110","163,220",NaN,NaN
7554,WA,42660,"Seattle-Tacoma-Bellevue, WA",17-0000,Architecture and Engineering Occupations,major,"54,770",1.9,29.221,1.64,...,44.57,57.05,69.45,"55,680","70,600","92,710","118,670","144,460",NaN,NaN
7583,WA,42660,"Seattle-Tacoma-Bellevue, WA",19-0000,"Life, Physical, and Social Science Occupations",major,"19,250",2.6,10.269,1.25,...,32.56,43.98,57.17,"40,220","50,500","67,710","91,490","118,910",NaN,NaN
7620,WA,42660,"Seattle-Tacoma-Bellevue, WA",21-0000,Community and Social Service Occupations,major,"23,330",3.3,12.445,0.87,...,22.48,28.91,36.95,"28,750","35,720","46,760","60,130","76,860",NaN,NaN
7639,WA,42660,"Seattle-Tacoma-Bellevue, WA",23-0000,Legal Occupations,major,"14,790",2.3,7.892,1.03,...,41.59,64.12,91.95,"45,260","61,250","86,500","133,370","191,250",NaN,NaN
7648,WA,42660,"Seattle-Tacoma-Bellevue, WA",25-0000,"Education, Training, and Library Occupations",major,"94,850",1.3,50.608,0.82,...,24.82,33.23,39.02,"30,130","37,520","51,630","69,110","81,160",NaN,NaN
7709,WA,42660,"Seattle-Tacoma-Bellevue, WA",27-0000,"Arts, Design, Entertainment, Sports, and Media...",major,"33,240",3.5,17.736,1.31,...,26.24,37.06,48.85,"25,260","35,990","54,580","77,090","101,600",NaN,NaN
7747,WA,42660,"Seattle-Tacoma-Bellevue, WA",29-0000,Healthcare Practitioners and Technical Occupat...,major,"91,230",6.6,48.674,0.82,...,37.60,49.73,67.68,"42,860","57,110","78,210","103,430","140,770",NaN,NaN
7806,WA,42660,"Seattle-Tacoma-Bellevue, WA",31-0000,Healthcare Support Occupations,major,"41,340",4.6,22.058,0.77,...,16.92,20.79,25.18,"25,040","28,890","35,190","43,250","52,380",NaN,NaN
7824,WA,42660,"Seattle-Tacoma-Bellevue, WA",33-0000,Protective Service Occupations,major,"35,700",3.2,19.048,0.79,...,23.91,38.57,48.32,"24,890","31,690","49,730","80,230","100,510",NaN,NaN
7844,WA,42660,"Seattle-Tacoma-Bellevue, WA",35-0000,Food Preparation and Serving Related Occupations,major,"165,080",1.2,88.079,0.95,...,12.00,15.40,21.03,"20,890","22,390","24,960","32,030","43,740",NaN,NaN
7862,WA,42660,"Seattle-Tacoma-Bellevue, WA",37-0000,Building and Grounds Cleaning and Maintenance ...,major,"46,850",2.5,24.996,0.79,...,14.77,18.48,23.12,"21,910","25,210","30,710","38,450","48,100",NaN,NaN
7872,WA,42660,"Seattle-Tacoma-Bellevue, WA",39-0000,Personal Care and Service Occupations,major,"55,800",3.6,29.771,0.93,...,13.42,17.55,26.03,"21,220","23,490","27,910","36,510","54,140",NaN,NaN
7900,WA,42660,"Seattle-Tacoma-Bellevue, WA",41-0000,Sales and Related Occupations,major,"177,920",2.3,94.931,0.92,...,16.22,25.19,41.79,"22,050","25,010","33,730","52,390","86,910",NaN,NaN
7921,WA,42660,"Seattle-Tacoma-Bellevue, WA",43-0000,Office and Administrative Support Occupations,major,"262,120",4.0,139.853,0.89,...,19.14,24.23,29.89,"25,330","31,390","39,810","50,400","62,160",NaN,NaN
7976,WA,42660,"Seattle-Tacoma-Bellevue, WA",45-0000,"Farming, Fishing, and Forestry Occupations",major,"2,900",17.2,1.549,0.47,...,14.65,19.12,25.31,"21,720","24,250","30,480","39,760","52,640",NaN,NaN
7988,WA,42660,"Seattle-Tacoma-Bellevue, WA",47-0000,Construction and Extraction Occupations,major,"82,000",2.1,43.750,1.10,...,27.21,36.91,46.05,"32,130","41,040","56,590","76,770","95,780",NaN,NaN
8033,WA,42660,"Seattle-Tacoma-Bellevue, WA",49-0000,"Installation, Maintenance, and Repair Occupations",major,"64,950",2.0,34.655,0.89,...,24.79,32.73,42.11,"30,030","37,890","51,560","68,070","87,580",NaN,NaN
8078,WA,42660,"Seattle-Tacoma-Bellevue, WA",51-0000,Production Occupations,major,"110,570",3.2,58.993,0.91,...,19.64,27.83,38.41,"24,930","30,870","40,860","57,890","79,890",NaN,NaN
8169,WA,42660,"Seattle-Tacoma-Bellevue, WA",53-0000,Transportation and Material Moving Occupations,major,"128,270",2.2,68.440,0.99,...,17.76,25.08,35.70,"22,590","26,770","36,930","52,170","74,250",NaN,NaN

In [90]:
#major =jobs.groupby('OCC_TITLE')
#major.apply(lambda x: x[x['OCC_GROUP'] == 'major']['H_MEAN'].sum())
#major.apply(lambda x: x['H_MEAN'].mean() if x.OCC_GROUP == 'major')
#major.apply(lambda x: x['H_MEAN'].mean() if x.OCC_GROUP == 'major'] else x.H_MEAN)
#major.OCC_GROUP.apply(lambda x: major['H_MEAN'].mean() if x == 'major')
#occupations =major.groupby('OCC_TITLE')
#major.groupby('OCC_TITLE')['H_MEAN'].mean()
major.groupby(['OCC_TITLE'])[['H_MEAN']].sum()

                                                                                               H_MEAN
OCC_TITLE
Architecture and Engineering Occupations            45.9648.4548.6535.5438.6044.3440.5042.0641.514...
Arts, Design, Entertainment, Sports, and Media ...  39.7734.3836.7625.9826.1932.0227.3637.7626.722...
Building and Grounds Cleaning and Maintenance O...  14.7517.4814.2711.7014.9617.1712.9716.5914.371...
Business and Financial Operations Occupations       38.7746.3244.2734.5736.2141.2235.7045.6137.763...
Community and Social Service Occupations            27.5427.4428.0021.8524.0823.3321.6526.1622.192...
Computer and Mathematical Occupations               44.3954.0450.1335.7041.6147.3038.8947.7442.854...
Construction and Extraction Occupations             26.5932.3723.8520.2032.6330.2825.3832.0427.381...
Education, Training, and Library Occupations        31.0430.9530.7524.7928.8931.5625.0432.0127.852...
Farming, Fishing, and Forestry Occupations          14.0516.0917.7511.9314.2716.3114.6316.3414.571...
Food Preparation and Serving Related Occupations    12.7714.7612.7912.1811.2413.5710.9913.4011.571...
Healthcare Practitioners and Technical Occupations  43.3451.7544.7436.0338.1945.5838.6445.6039.133...
Healthcare Support Occupations                      16.9719.8116.2014.2414.8616.8014.1814.7814.661...
Installation, Maintenance, and Repair Occupations   24.6428.1625.5720.4924.3326.5123.3325.6424.242...
Legal Occupations                                   60.7469.4168.0248.9452.7360.7242.9165.7652.715...
Life, Physical, and Social Science Occupations      36.6544.9548.4231.2635.8338.5133.3240.1036.303...
Management Occupations                              61.8072.0468.5061.0855.9065.2758.1476.4566.126...
Office and Administrative Support Occupations       19.5122.7821.1316.9518.6521.1917.8220.7118.901...
Personal Care and Service Occupations               14.3615.6914.9113.2313.0615.6712.2515.0112.941...
Production Occupations                              16.8220.5120.0415.3617.8619.5919.4118.7319.661...
Protective Service Occupations                      26.5729.0727.1620.7924.6526.3520.8525.1321.872...
Sales and Related Occupations                       20.9025.2921.7419.7821.1924.5220.4625.7621.782...
Transportation and Material Moving Occupations      17.0922.2219.5817.6317.9118.6517.8919.2017.401...

In [8]:
# Bar chart showing occupations in 'major' group
bars = [] # occupation in 'major' group
heights = [] # mean income/hour
for job in jobs:
    if str('major') in job['OCC_GROUP'] and str('CA')in job['AREA_NAME']:
        bars.append(job['OCC_TITLE'])
        heights.append(job['H_MEAN'])
    
plt.bar(left = job['OCC_TITLE'], height = job['H_MEAN'])
plt.xlabel('occupation in Los Angeles-Long Beach-Anaheim, CA')
plt.ylabel('avarage income/ hour')
plt.show()

TypeError: string indices must be integers

In [ ]:
# Bar chart showing occupations in 'major' group

df = pd.read_csv('occupations.csv')
    
bars = [] # occupation in 'major' group
heights = [] # mean income/hour'''

for job in jobs:
    if 'major' in job['OCC_GROUP'] and 'CA' in job['PRIM_STATE']:
        bars.append(job['OCC_TITLE'])
        heights.append(job['H_MEAN'])
        
with open('occupations.csv') as f: 
    rows = csv.reader(f)
    for r in rows:
        jobs.append(r)
for job in jobs:
    if job['OCC_TITLE'] == job['OCC_TITLE']
    df.reset_index().groupby('H_MEAN').mean()
        
numbars = len(bars)# the number of the bars
# range(numbars) in following command yields [0,1,...,numbars-1]
plt.xticks(range(numbars), bars, rotation='vertical')
plt.bar(range(numbars), heights, align='center')
plt.xlabel('occupations in CA')
plt.ylabel('avarage income/ hour')
plt.show()

In [ ]:
df = pd.read_csv('occupations.csv')
df.head()

In [55]:
df = pd.DataFrame({'key1' : ['a','a','b','b','a'],
               'key2' : ['one', 'two', 'one', 'two', 'one'],
               'data1' : np.random.randn(5),
               'data2' : np. random.randn(5)})
df

      data1     data2 key1 key2
0 -0.063046 -0.949865    a  one
1 -1.636853 -0.848211    a  two
2 -0.057009  1.015752    b  one
3 -0.045365  1.552327    b  two
4  1.274496 -1.716831    a  one

In [56]:
g = df.groupby('key1')

g.apply(lambda x: x[x['key2'] == 'one']['data1'].sum())

key1
a    1.211450
b   -0.057009
dtype: float64