In [1]:
import csv
import pandas as pd
import numpy as np
import pylab as pl
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
jobs = pd.read_csv('occupations SUB.csv')

#transfer the H_MEAN or A_MEAN or JOBS_1000 number from string to float
jobs['A_PCT10'] = jobs['A_PCT10'].str.replace(',', '')
jobs['A_PCT25'] = jobs['A_PCT25'].str.replace(',', '')
jobs['A_MEDIAN'] = jobs['A_MEDIAN'].str.replace(',', '')
jobs['A_PCT75'] = jobs['A_PCT75'].str.replace(',', '')
jobs['A_PCT90'] = jobs['A_PCT90'].str.replace(',', '')
jobs['A_PCT10'] = pd.to_numeric(jobs.A_PCT10, errors='coerce')
jobs['A_PCT25'] = pd.to_numeric(jobs.A_PCT25, errors='coerce')
jobs['A_MEDIAN'] = pd.to_numeric(jobs.A_MEDIAN, errors='coerce')
jobs['A_PCT75'] = pd.to_numeric(jobs.A_PCT75, errors='coerce')
jobs['A_PCT90'] = pd.to_numeric(jobs.A_PCT90, errors='coerce')

#drop the word'Occupations' in each row of OCC_TITLE
jobs['OCC_TITLE'] = jobs['OCC_TITLE'].str.replace('Occupations', '')

#delete the rows without value
job=jobs[jobs['A_PCT10'].notnull()]

#filter the data without'major'
detail = job[job['OCC_GROUP'].str.contains('detailed')]
subCA = detail[detail['OCC_CODE'].str.contains('15-')]
sub = subCA[subCA['AREA_NAME'].str.contains('San Francisco-Oakland-Hayward, CA')]
sub

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90
846,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1111,Computer and Information Research Scientists,detailed,75110.0,96230.0,121290.0,152370.0,184700.0
847,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1121,Computer Systems Analysts,detailed,66470.0,85380.0,107000.0,134380.0,162200.0
848,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1122,Information Security Analysts,detailed,57870.0,84050.0,113980.0,137060.0,161880.0
849,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1131,Computer Programmers,detailed,56040.0,81140.0,107790.0,133570.0,159800.0
850,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1132,"Software Developers, Applications",detailed,75170.0,97340.0,123490.0,150930.0,170980.0
851,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1133,"Software Developers, Systems Software",detailed,87290.0,109080.0,132430.0,157680.0,184230.0
852,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1134,Web Developers,detailed,51050.0,69420.0,97750.0,127520.0,156010.0
853,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1141,Database Administrators,detailed,57030.0,77590.0,108600.0,132360.0,157490.0
854,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1142,Network and Computer Systems Administrators,detailed,59160.0,83180.0,107100.0,131160.0,157660.0
855,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1143,Computer Network Architects,detailed,77290.0,105960.0,133330.0,162480.0,195850.0
856,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1151,Computer User Support Specialists,detailed,39630.0,52650.0,63930.0,85280.0,105290.0
857,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1152,Computer Network Support Specialists,detailed,47950.0,61250.0,77640.0,98870.0,122850.0
859,CA,41860,"San Francisco-Oakland-Hayward, CA",15-2011,Actuaries,detailed,69940.0,82320.0,126670.0,155290.0,189930.0
860,CA,41860,"San Francisco-Oakland-Hayward, CA",15-2021,Mathematicians,detailed,56990.0,72590.0,116120.0,132510.0,154020.0
861,CA,41860,"San Francisco-Oakland-Hayward, CA",15-2031,Operations Research Analysts,detailed,58130.0,71980.0,95140.0,123370.0,153960.0
862,CA,41860,"San Francisco-Oakland-Hayward, CA",15-2041,Statisticians,detailed,55170.0,75400.0,99530.0,131610.0,162190.0