In [1]:
import csv
import pandas as pd
import numpy as np
import pylab as pl
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
jobs = pd.read_csv('occupations SUB.csv')

#transfer the H_MEAN or A_MEAN or JOBS_1000 number from string to float
jobs['A_PCT10'] = jobs['A_PCT10'].str.replace(',', '')
jobs['A_PCT25'] = jobs['A_PCT25'].str.replace(',', '')
jobs['A_MEDIAN'] = jobs['A_MEDIAN'].str.replace(',', '')
jobs['A_PCT75'] = jobs['A_PCT75'].str.replace(',', '')
jobs['A_PCT90'] = jobs['A_PCT90'].str.replace(',', '')
jobs['A_PCT10'] = pd.to_numeric(jobs.A_PCT10, errors='coerce')
jobs['A_PCT25'] = pd.to_numeric(jobs.A_PCT25, errors='coerce')
jobs['A_MEDIAN'] = pd.to_numeric(jobs.A_MEDIAN, errors='coerce')
jobs['A_PCT75'] = pd.to_numeric(jobs.A_PCT75, errors='coerce')
jobs['A_PCT90'] = pd.to_numeric(jobs.A_PCT90, errors='coerce')

#drop the word'Occupations' in each row of OCC_TITLE
jobs['OCC_TITLE'] = jobs['OCC_TITLE'].str.replace('Occupations', '')

#delete the rows without value
job=jobs[jobs['A_PCT10'].notnull()]

#filter the data without'major'
detail = job[job['OCC_GROUP'].str.contains('detailed')]
subCA = detail[detail['OCC_CODE'].str.contains('15-')]
sub = subCA[subCA['AREA_NAME'].str.contains('San Francisco-Oakland-Hayward, CA')]
sub.head(1)

,PRIM_STATE,AREA,AREA_NAME,OCC_CODE,OCC_TITLE,OCC_GROUP,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90
846,CA,41860,"San Francisco-Oakland-Hayward, CA",15-1111,Computer and Information Research Scientists,detailed,75110.0,96230.0,121290.0,152370.0,184700.0